# always-auth=true  
# //npm.greensock.com/:_authToken=${NPM_TOKEN}  
# @gsap:registry=https://npm.greensock.com  

always-auth=true
registry=https://npm.greensock.com
//npm.greensock.com/:_authToken=${NPM_TOKEN}