@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

$black: #272727;
$QS-color: #8062FA;
$Quire-color: #9C62FA;
$SSS-color: #C67FF4;
$KYH-color: #FF96F0;
$active-color: #61FFD0;
$leftside-button:#619CFF; /* 45¤ and from 25%  
background: rgb(97,156,255);
background: linear-gradient(45deg, rgba(97,156,255,1) 25%, rgba(97,255,208,1) 100%);*/
$rightside-button:#61FFD0; /* 100% right */




* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
        font-family: 'Poppins', sans-serif;
        font-size: 62.5%;
        /* overflow: scroll; */
        /* overflow-y: scroll; */
        /* overflow-x: hidden;  */
      /*   overflow-x: scroll; */
    }



.horizontal-page {
        width: 600vw;
     /*    height: 98vh; */
        display: flex;
        flex-wrap: nowrap;
}

.pineapple-div {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 2% 0% 0% 2%;

        .pineapple {
        width: 5rem;
        }
}

.landingpage {
      /*   height: 100vh; */
      width: 100vw;
        /* width: 100%; */
}

.HW_container {
        width: 100vw;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .HW_container_context {
                color: $black;
                font-size: 3rem;
                font-weight: 300;
        }
}

.mouse-div {
        display: flex;
        align-items: center;
        justify-content: center;

        .mouse-img {
                width: 4rem;
        }
}

.landingpage_screen {
        width: 100vw;
        height: 100vh;
 }


.case_container {
        /* background-color: $QS-color; */
        position: absolute;
        width: 30vw;
        height: 100vh;
        top: 0;
        left: 170vw;
        background: linear-gradient(135deg, $QS-color 50%, $Quire-color 100%);
        display: flex;
        align-items: center;
        /* justify-content: space-around; */
        flex-direction: column;
        

        .case_title {
                color: $black;
                margin-top: 40%;
                font-size: 2.4rem;
                font-weight: 700;
        }

        .case_hastags {
                color: $black;
                margin-top: 15%;
                font-size: 2rem;
                font-weight: 400;
        }

        .case_context {
                color: $black;
                margin-top: 15%;
                font-size: 2rem;
                font-weight: 400;
                padding-right: 8%;
                padding-left: 10%;
        }
}

.visit-button_container{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 15%;

        .visit-button {
                border: none;
                border-radius: 3rem;
                width: 9rem;
                height: 3.5rem;
                background: linear-gradient(135deg, $leftside-button 33%, $rightside-button 100%);
                font-family: 'Poppins', sans-serif;
                font-size: 1.2rem;
                font-weight: 400;
                text-transform: uppercase;
                text-align: center;
                color: #fcfcfc;
                filter: drop-shadow(0px 6px 4px #619cff);
                cursor: pointer;

}
}