@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

$white: #fcfcfc;
$black: #272727;
$QS-color: #8062FA;
$Quire-color: #9C62FA;
$SSS-color: #C67FF4;
$KYH-color: #FF96F0;
$About-me: #FF8AB4;
$active-color: #61FFD0;
$leftside-button:#619CFF;
$rightside-button:#61FFD0;
$linkcolor: #434cfc;

$breakpoint-small-phone: 320px;
$breakpoint-phone: 600px;
$breakpoint-laptop: 1300px;



@mixin case_container {
        position: absolute;
        width: 30vw;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
}

@mixin case_container_phone {
        position: unset;
        width: 100vw;
        height: 74vh;
}

@mixin hw_context {
        color: $black;
        font-size: 3rem;
        font-weight: 300;
}

@mixin page_indicators {
        width: 2.5rem;
        height: 1rem;
        border-radius: 1rem;
        margin: 0.5rem;
}


* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scrollbar-width: none;
}

*::-webkit-scrollbar {
        width: 0px;
}


html {
        font-family: 'Poppins', sans-serif;
        font-size: 62.5%;
}

body {
        overflow-x: hidden;
        overflow-y: scroll;
      }

.horizontal-page {
        width: 600vw;
        height: 100vh;
        display: flex;
        flex-wrap: nowrap;
}

.pineapple-div {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 2% 0% 0% 2%;

        .pineapple {
                width: 5rem;
        }
}

.landingpage {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

.HW_container {
        width: 40vw;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .HW_container_context {
                @include hw_context();
        }

        .HW_context {
                @include hw_context();
        }
}

.mouse-div {
        display: flex;
        align-items: center;
        justify-content: center;

        .mouse-img {
                width: 4rem;
        }
}

.arrow-div {
        display: none;

        .arrow-img {
                width: 4rem;
        }
}

.landingpage_screen {
        width: 100vw;
        height: 100vh;
}

.qs_case_container {
        @include case_container();
        top: 0;
        left: 70vw;
        background: linear-gradient(135deg, $QS-color 50%, $Quire-color 100%);

}

.gp_case_container {
        @include case_container();
        top: 0;
        left: 70vw;
        background: linear-gradient(135deg, $Quire-color 40%, $SSS-color 100%);

}

.sss_case_container {
        @include case_container();
        top: 0;
        left: 70vw;
        background: linear-gradient(135deg, $SSS-color 30%, $KYH-color 100%);

}

.kyh_case_container {
        @include case_container();
        top: 0;
        left: 70vw;
        background: linear-gradient(135deg, $KYH-color 30%, $leftside-button 125%);

}

.case_title {
        color: $black;
        margin-top: 40%;
        font-size: 2.4rem;
        font-weight: 700;
}

.case_hashtags {
        color: $black;
        margin-top: 15%;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
}

.case_context {
        color: $black;
        margin-top: 15%;
        font-size: 2rem;
        font-weight: 400;
        padding-right: 8%;
        padding-left: 10%;
}


.visit-button_container {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 6%;
        margin-top: 30%;

        .visit-button {
                border: none;
                border-radius: 3rem;
                width: 9rem;
                height: 3.5rem;
                background: linear-gradient(135deg, $leftside-button 33%, $rightside-button 100%);
                font-family: 'Poppins', sans-serif;
                font-size: 1.2rem;
                font-weight: 400;
                text-transform: uppercase;
                text-align: center;
                color: $white;
                filter: drop-shadow(0px 6px 4px #619cff);
                cursor: pointer;

        }
}


.about-me {
        flex-wrap: wrap;
        background-color: $white;
        flex-direction: unset;

        .selfie-img {
                width: 25rem;
        }

        .about-me-text_container {
                margin-left: 2%;
                width: 40rem;
        }

        h4 {
                font-size: 4.5rem;
                font-weight: 700;
                color: $black;
        }

        .about-me-text_skills {
                margin-top: 3%;
        }

        .about-me_context {
                font-size: 1rem;
                font-weight: 500;
                color: $black;
        }

        .about-me-text_contact {
                margin-top: 3%;

                .about-me_links {
                        color: $linkcolor;
                        text-decoration: none;
                        font-size: 1rem;
                        letter-spacing: 0.04rem;
                        font-weight: 500;
                }
        }

        .about-me_link-container {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                width: 3vw;
                height: 15vh;
                border-top-left-radius: 1.5rem;
                border-bottom-left-radius: 1.5rem;
                right: 0;
                position: absolute;
                background: linear-gradient(145deg, $QS-color, $KYH-color, $About-me, $leftside-button);
                background-size: 600% 600%;
                animation: Link_animation 15s ease infinite;
                -webkit-animation: Link_animation 15s ease infinite;
                -moz-animation: Link_animation 15s ease infinite;
                
                .about-me_link-icons {
                        width: 3rem;
                }
        }

        @keyframes Link_animation {
                0%{background-position:50% 0%}
                50%{background-position:50% 100%}
                100%{background-position:50% 0%}
        }

        @-webkit-keyframes Link_animation {
                0%{background-position:50% 0%}
                50%{background-position:50% 100%}
                100%{background-position:50% 0%}
        }

        @-moz-keyframes Link_animation {
                0%{background-position:50% 0%}
                50%{background-position:50% 100%}
                100%{background-position:50% 0%}
        }
}

@media (max-width: $breakpoint-laptop) {

        .case_title {
                margin-top: 20%;
                font-size: 2rem;
        }

        .case_hashtags {
                font-size: 1.6rem;
        }

        .case_context {
                font-size: 1.6rem;
        }

        .about-me {
                .about-me_link-container {
                        width: 4vw;
                }
        }
}

@media (max-width: $breakpoint-phone) {

        .pin-spacer {
                width: 0px !important;
        }

        .mouse-div {
                display: none;
                margin-bottom: 20%;
        }

        .arrow-div {
                display: flex;
                align-items: center;
                justify-content: center;
        
                .arrow-img {
                        width: 4rem;
                }
        }

        .HW_container {
                width: 90vw;
                height: 75vh;

                .HW_context {
                        font-size: 2.5rem;
                }

                .HW_container_context {
                        font-size: 2.5rem;
                }
        }

        .landingpage {
                .landingpage_screen {
                        height: 26vh;
                }

                .qs_case_container {
                        @include case_container_phone ();
                }

                .gp_case_container {
                        @include case_container_phone ();
                }
                
                .sss_case_container {
                        @include case_container_phone ();
                }
                
                .kyh_case_container {
                        @include case_container_phone ();
                }

                .case_title {
                        margin-top: 10%;
                }

                .case_hashtags {
                        margin-top: 10%;
                }

                .case_context {
                        margin-top: 10%;
                }

                .visit-button_container {
                        margin-top: 10%;
                }
        }

        .selfie-img {
                width: 23 rem;
        }

        .about-me {
                .about-me-text_container {
                        margin-left: 0%;
                        width: 30rem;
                }

                .about-me_link-container{
                        width: 10vw;

                        .about-me_link-icons{
                                width: 2.5rem;
                        }
                }
        }
}

@media (max-width: $breakpoint-small-phone) {

}